*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}
/* TODO: Choose proper font on body*/
body {
  height: 100vh;
}

#root {
  --header-color: #ffffff;
  --sidebar-color: #f0f0f0;
  --sidebar-selected-color: #3b76ca;
  --sidebar-hover-color: #fafafa;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

nav {
  --link-font-color: black;
}

main {
  flex-basis: 90%;
}

.app__header {
  width: 100vw;
  height: 60px;
  background-color: var(--header-color);
  border: 1px solid #cccccc;
}

.app__sidebar {
  flex-basis: 10%;
  background-color: var(--sidebar-color);
}

.app__sidebaritem {
  list-style: none;
  padding: 1em;
  position: relative;
  cursor: pointer;
}

.app__sidebaritem.selected {
  font-weight: 700;
  background-color: var(--sidebar-hover-color);
  color: var(--sidebar-selected-color);
}

.app__sidebaritem.selected::after {
  content: "";
  background-color: var(--sidebar-selected-color);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

.app__sidebaritem:hover {
  background-color: var(--sidebar-hover-color);
}

.app__sidebaritem-link {
  color: var(--link-font-color);
  font-size: 1rem;
  display: inline-block;
  padding: 1em;
}

.app__sidebaritem.selected .app__sidebaritem-link {
  color: var(--sidebar-selected-color);
}

/* Start styles of classification component */

.app__classify {
  padding: 2em;
}

.app__classify-classifier-container {
  display: grid;
  grid-template-rows: 40px 2fr 6fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "upload upload . classify classify"
    "info info info info info"
    "image image image result result";
  grid-gap: 1em;
  padding: 1em;
}

.app__classify-classifier-upload {
  grid-area: upload;
}

.app__classify-classifier-select {
  grid-area: classify;
}

.app__classify-classifier-selected-image-container {
  grid-area: image;
  position: relative;
}

#app__classify-classifier-selected-image-warning {
  top: 0;
  left: 0;
  margin: 0 !important;
}

.app__classify-classifier-info {
  grid-area: info;
}

.app__classify-classifier-result {
  grid-area: result;
  align-self: center;
}

.app__slider-image-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 80%;
}

.app__slider-image {
  width: 150px;
  height: 150px;
  margin: 1em;
  cursor: pointer;
}

.app__classify-classifier-selected-image {
  width: 90%;
  max-height: 500px;
}
