*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}
/* TODO: Choose proper font on body*/
body {
  height: 100vh;
}

#root {
  --header-color: #ffffff;
  --sidebar-color: #f0f0f0;
  --sidebar-selected-color: #3b76ca;
  --sidebar-hover-color: #fafafa;
  --container-height: 600px;
}

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

nav {
  --link-font-color: black;
}

main {
  flex-basis: 90%;
  max-height: calc(100% - 60px);
  overflow: auto;
}

.app__header {
  width: 100vw;
  height: 60px;
  background-color: var(--header-color);
  border: 1px solid #cccccc;
}

.app__sidebar {
  height: calc(100% - 60px);
  flex-basis: 10%;
  background-color: var(--sidebar-color);
}

.app__sidebaritem {
  list-style: none;
  position: relative;
  cursor: pointer;
}

.app__sidebaritem.selected {
  font-weight: 700;
  background-color: var(--sidebar-hover-color);
  color: var(--sidebar-selected-color);
}

.app__sidebaritem.selected::after {
  content: "";
  background-color: var(--sidebar-selected-color);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

.app__sidebaritem:hover {
  background-color: var(--sidebar-hover-color);
}

.app__sidebaritem-link {
  color: var(--link-font-color);
  font-size: 1rem;
  display: block;
  padding: 2em;
}

.app__sidebaritem.selected .app__sidebaritem-link {
  color: var(--sidebar-selected-color);
}

.app__home {
  height: 100%;
  background: url(/static/media/background.a7dcf96e.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__home-container {
  width: 90%;
  background: white;
  height: 75%;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 3em;
  justify-content: space-around;
}

.app__home-text-container {
  flex-basis: 35%;
}

.app__home-heading {
  color: #c0271b;
  font-weight: 900;
  font-size: 6em;
}
.app__home-text {
  color: #366bac;
  font-size: 1.5em;
  font-weight: bold;
}
.app__home-text-list {
  list-style: disc;
  margin-top: 1em;
  font-size: 0.8em;
  font-weight: normal;
}

.app__home-button-container {
  text-align: center;
}
.app__home-container .app__home-button {
  background: #c0271b;
  transform: translateX(-50%);
  padding: 0.5em;
  margin-top: 1em;
}
.app__home-container .app__sidebaritem-link {
  padding: 1em;
  color: #ffffff;
}
.app__home-image {
  background: url("./medical_research.svg");
  flex-basis: 40%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Start styles of classification component */

.app__classify {
  width: 80%;
  margin: 0 auto;
}

.app__classify-classifier-container {
  display: grid;
  grid-template-rows: 40px 2fr 6fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "upload upload . classify classify"
    "info info info info info"
    "image image image result result";
  grid-gap: 1em;
  padding: 1em;
}

.app__classify-classifier-upload {
  grid-area: upload;
}

.app__classify-classifier-select {
  grid-area: classify;
}

.app__classify-classifier-selected-image-container {
  grid-area: image;
  position: relative;
}

#app__classify-classifier-selected-image-warning {
  top: 0;
  left: 0;
  margin: 0 !important;
}

.app__classify-classifier-info {
  grid-area: info;
}

.app__classify-classifier-result {
  grid-area: result;
  align-self: center;
}

.app__slider-image-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 400px;
}

.app__slider-image {
  width: 120px;
  height: 120px;
  margin: 1em;
  cursor: pointer;
}

.app__classify-classifier-selected-image {
  width: 90%;
  max-height: 500px;
}

.app__fetching-parent {
  width: 80%;
  margin: 0px auto;
}

/* Styles for compare component */
.app__compare {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
}
.app__compare-container {
  flex-basis: 70%;
}
.app__compare-button-container,
.app__study-button-container {
  display: flex;
  margin: 0 0 1em 0;
  justify-content: space-between;
}
.app__compare-images-container {
  max-height: var(--container-height);
  margin: 2em auto;
}
.app__compare-compare-container {
  max-height: var(--container-height);
}
div[data-testid="container"] {
  height: var(--container-height) !important;
}
.app__compare .app__notes-container {
  flex-basis: 30%;
  padding: 1em;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}
.app__notes-export.app__notes-export.app__notes-export {
  margin-top: 2em;
  width: 100px;
  position: relative;
  right: calc(-100% + 100px);
}

/* Styles for study component */
.app__study {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 1em 0;
}
.app__study-container {
  display: flex;
  padding: 0;
}
.app__study-magnify-container {
  flex-basis: 40%;
}
.app__study-filter-container {
  flex-basis: 60%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app__study .app__notes-container {
  margin: 1em 1em 1em 0;
  padding: 0;
}

.app__study .app__notes-export {
  width: 100px;
}
.app__study .app__notes-export.app__notes-export.app__notes-export {
  margin-top: 0.5;
}

.app__study-reset {
  width: 100px;
  margin-top: 1em;
  position: relative;
  right: calc(-100% + 100px);
}

.app__progress-increment {
  display: flex;
  align-items: center;
  max-height: 40px;
  margin: 1em 0;
}

.app__progress-button {
  flex-basis: 10%;
}

.app__progress-slider.app__progress-slider.app__progress-slider {
  flex-basis: 80%;
  margin: 0 5px;
}
