*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}
/* TODO: Choose proper font on body*/
body {
  height: 100vh;
}

#root,
.app {
  height: 100%;
  --header-color: dimgrey;
  --sidebar-color: dimgrey;
}

nav {
  --link-font-color: black;
  position: absolute;
}

main {
  height: calc(100% - 40px);
}

.app__header {
  height: 40px;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
}

.bars.icon {
  font-size: 2rem;
  cursor: pointer;
}

.app__sidebar {
  width: 150px;
  transform: translateX(-100%);
  background-color: var(--sidebar-color);
  height: 100vh; /*TODO: media*/
  transition: transform 0.3s linear;
}
.app__sidebar.open {
  transform: translateX(0%);
}
.app__sidebaritem {
  list-style: none;
}

.app__sidebaritem-link {
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  color: var(--link-font-color);
  font-size: 1.5rem;
}

.app__classify {
  display: flex;
  padding: 2em;
  height: 100%;
}

.app__classify-slider-container {
  flex: 1;
}

.app__classify-classifier-container {
  flex: 1;
  display: grid;
  grid-template-rows: 40px 1fr 4fr;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-areas:
    "upload . classify classify"
    "info info info info"
    "image image result result";
  grid-gap: 1em;
  padding: 1em;
}

.app__classify-classifier-upload {
  grid-area: upload;
}

.app__classify-classifier-select {
  grid-area: classify;
}

.app__classify-classifier-selected-image-container {
  grid-area: image;
}

.app__classify-classifier-info {
  grid-area: info;
}

.app__classify-classifier-result {
  grid-area: result;
}

.app__classify-slider-image-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 80%;
}

.app__classify-slider-image {
  width: 150px;
  height: 150px;
  margin: 1em;
  cursor: pointer;
}

.app__classify-classifier-selected-image {
  width: 400px;
  height: 400px;
}
